* {
    box-sizing:border-box;
    /*align-items: center;     /*Alinhou todos os itens na header*/
    /*padding: 0px;*/
    /*margin: 0px;*/
}

header {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
}

header .container{
    display: flex;
    width: 697px;
    height: 49px;
    margin: auto;
}

.logo {
    margin: 8px 5px 16px 44px;
}

.slogan {
    
    font-size: 10px;
    font-family: "fontRopaSans";
    color: #aaaaaa; 
    width: 50px;
    margin: 11px 0px 14px 0px;
}

.menu {
    width: 100%;
    text-align: right;
    margin: 18px 31px 19px 0px;
}

.btnMenu {
    height: 12px;
    width: 18px;
}

@font-face {
    font-family: "fontRopaSans";
    src: url(./font/RopaSans-Regular.ttf);
}

.fontRopaSans {
    font-family: "fontRopaSans";
    font-size: 10px;
}

.carrossel {
    display: flex;
    width: 697px;
    margin: auto;
    
}

.container2 {
    display:flex;
    flex-direction: column;
    width: 250px;
    margin:auto
}

.flex-between {
    display:flex;
    justify-content: space-between;
}

.img-card {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
}

article .info {
    padding: 10px;
    font-family: "fontRopaSans";    
    background-color: #EEEEEE;
}

.tag {
    text-align: center;
    width: 56px;
    height: 21px;
    font-family: 'fontRopaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10.5px;
    background-color: #51d275;
}

.projects {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 10px;
    width: 697px;
}

@media (max-width: 500px) {
    .container {
        background-color: black;
    }

}
    
