*{
    margin:0px;
    padding: 0px;
}

header {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
    
}

header .container{
    width: 697px;
    height: 49px;
    display:flex;
    justify-content: space-between;
}

.logo h1 {
    font-size: px;
    color: #777;
}

header .logo h2 {
    font-size: 10px;
    color: #aaa
}

.logo {
    display:flex;
    align-items: center;
    padding: 20px;
}



@font-face {
    font-family: "fontRopaSans";
    src: url(./font/RopaSans-Regular.ttf);
}

.fontRopaSans {
    font-family: "fontRopaSans";
    font-size: 10px;
}

.btnMenu {
    height: 12px;
    width: 18px;
    vertical-align: baseline;
}